body{
   background-color: rgb(19, 186, 80);
}

h1, h2, h3 {
    text-align: center;
    color:magenta;
}
.fancything {
    background-color: blueviolet;
    color:white;
    width: 75%;
    text-decoration: underline wavy;
    font-size: 24px;
    margin: auto;
    text-align: center;
}

.pain
{
    background-image:url("H.jpg");
    background-size:200px;
}

.sadthing {
    background-color: black;
    color: palevioletred;
    width: 65%;
    margin: auto;
}

.guthib {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.lists {
    font-size: 20px;
}

.fiasco {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    border: 10px solid black;
    
}

footer {
    background-color: skyblue;
    opacity: 0.7;
    text-align: center;
}

#alsiddigtext
{
    color: #FF10F0
}
#ASimg
{
height: 250px
}

#Asmini
{
    color:#FFFF33;
}